{% extends 'webapp/base.html' %}

{% block content %}

    <h5> Welcome, {{user}}! 👋 </h5>

    <hr>

    <a class="btn btn-outline-primary btn-sm" href="{% url 'create-reservation' %}">

        Create a new reservation &nbsp; <i class="fa fa-plus-circle" aria-hidden="true"></i>

    </a>

    {% if user.is_staff %}
    <a class="btn btn-outline-primary btn-sm" href="{% url 'create-room' %}">
        Create a new room &nbsp; <i class="fa fa-plus-circle" aria-hidden="true"></i>
    </a>
    <hr>
{% endif %}

    <hr> 

    <table class="table table-hover table-bordered">

        <thead class="table-light">

            <tr>

                <th scope="col"> ID </th>
                <th scope="col"> Full name </th>
                <th scope="col"> Email </th>
                <th scope="col"> Room </th>
                <th scope="col"> Check-in </th>
                <th scope="col"> Check-out </th>
              

                <th scope="col"> Date created </th>

                <th scope="col"> View </th>

            </tr>

        </thead>

        <tbody>

        {% if reservations %}

            {% for reservation in reservations %}

            <tr>

                <td> {{reservation.id}} </td>

                <td> {{reservation.first_name}}  {{reservation.last_name}} </td>

                <td> {{reservation.email}} </td>

                <td> {{reservation.room}} </td>
                <td> {{reservation.check_in}} </td>
                <td> {{reservation.check_out}} </td>

                <td> {{reservation.creation_date}} </td>

                <td> <a class="btn btn-success btn-sm" href="{% url 'reservation' reservation.id %}"> <i class="fa fa-eye" aria-hidden="true"></i> </a> </td>

            </tr>

            {% endfor %}
        
        {% endif %}


        </tbody>


    </table>


{% endblock %}